.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(23, 22, 22, 0.75);
  }

  .modal {
    position: fixed;
    top: 28%;
    left: 25%;
    width: 50%;
    height: 100%;
    max-height: 45vh;
    transform: translate(-50%, -50%);
    max-width: calc(100% - 5rem);
    min-width: 11rem;
    min-height: 15rem;
    overflow:scroll;
    border-radius: 14px;
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
    overflow: visible;
  }

  @media (max-width: 768px) and (min-width:768px) {
    .modal {
      width: 50rem;
      left: calc(50% - 20rem);
    }
  }

  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
