.taskInfo{
    height: 500px;
    overflow: auto;
    width: 75%;
    padding-right: 12px;
}

.taskActivity{
    padding: 12px;
}

.taskButton{
    background-color: #F4F5F7;
    border: none;
    margin: 4px;
    border-radius: 4px;
    color: #505F79;
}

.taskButton:hover {
    background-color: #e2e1e1;
}

.selectedButton{
    background-color: #505F79;
    color: #F4F5F7;
    border: none;
    margin: 4px;
    border-radius: 4px;
}

.saveButton{
    background-color: #0352CC;
    color: white;
    padding: 3px 6px;
    margin: 2px;
    border: none;
    border-radius: 4px;
}

.saveButton:hover{
    background-color: #0066ff;
}

.cancelButton{
    background-color: white;
    color: #505F79;
    padding: 3px 6px;
    margin: 2px;
    border: none;
    border-radius: 4px;
}

.cancelButton:hover{
    background-color: rgb(236, 236, 236);
}

.textInput{
    display: block;
    height: 81px;
    width: 80%;
    margin: 4px;
    resize: none;
    border: 1px solid lightgray;
    border-radius: 4px;
    overflow: auto;
}

.commentArea{
    overflow: auto;
}

.dropdown{
    margin: 12px 0px;
}