.header {
    z-index: 1;
    padding: 12px;
    box-shadow: 0px 0px 4px grey;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 40px;
}

.brandName{
    font-size: 18px;
    margin-right: 24px;
    padding: 6px;
    border-radius: 4px;
}

.brandName:hover{
    background-color: #0454cc25;
    cursor: pointer;
}

.headerLinks{
    margin: 0px 12px;
    font-size: 10pt;
    font-weight: bold;
    padding: 7px;
    border-radius: 4px;
    color: black;
}

.headerLinks:hover, .userLogo:hover{
    background-color: #0454cc25;
    cursor: pointer;
    color: #0352CC;
}

.createButton {
    background-color: #0352CC;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 10pt;
    padding: 5px 10px;
    font-weight: bold;
    margin: 0px 12px;
}

.createButton:hover {
    background-color: #0353cce7;
}

.logoDiv{
    position: relative;
    display: inline-block;
}

.userLogo{
    width: 30px;
    margin-right: 12px;
    margin-top: 4px;
    padding: 6px 6px 6px 7px;
    border-radius: 50%;
}

.userProfileText{
    visibility: hidden;
    opacity: 0;
    background-color: rgb(16, 16, 66);
    color: white;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
    width: 160px;
    margin-left: -140px;
    font-size: 9pt;
    transition: opacity 0.6s;
}

.logoDiv:hover .userProfileText{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.4s;
}

.searchButton{
    background-color: transparent;
    color: blue;
    border: none;
    font-size: 10pt;
}

.searchButton:focus{
    outline: none;
    box-shadow: none;
}

.search{
    border: 1px solid lightgray;
    border-radius: 4px;
}