.panel{
    background-color: #F4F5F7;
    width: 250px;
    padding: 8px;
    height: 520px;
    border-radius: 6px;
}

.dropDownButton{
    padding: 3px 9px;
    font-size: 11pt;
}

.issueGroup{
    border: 1px solid lightgrey;
    border-radius: 3px;
    height: 420px;
    overflow: auto;
    margin-top: 12px;
    margin-bottom: 4px;
}

.issue{
    background-color: white;
    padding: 10px 8px 16px;
    border-bottom: 1px solid lightgray;
}

.issue:hover{
    cursor: pointer;
    color: black;
}

.notSelected:hover{
    background-color: #f8fbff28;
}

.selected{
    background-color: #DDECFE;
    color: #0352CC;
}

.issueName{
    font-size: 11pt;
}

.checkbox{
    width: 18px;
}

.issueNumber{
    color: rgba(0, 0, 0, 0.466);
    font-size: 9pt;
    font-weight: bold;
}

.refresh{
    margin: 0px 12px;
}

.refreshIcon{
    width: 14px;
}

.bottom{
    display: flex;
    justify-content: space-between;
}

.bottomText{
    color: rgba(0, 0, 0, 0.7);
    font-size: 11pt;
    margin-right: 12px;
}