.main{
    width: 100%;
    display: flex;
}

.taskParent{
    width: 100%;
    padding-left: 12px;
    box-shadow: 0px 4px 4px grey;
    z-index: 0;
    padding-bottom: 24px;
}

.taskContent{
    display: flex;
    padding-right: 18px;
    margin-top: 12px;
    justify-content: space-between;
}



