.sidebar{
    z-index: -1;
    width: 250px;
    background-color: rgb(244,245,247);
}

.sidebarContent{
    padding-top: 18px;
    padding-left: 12px;
    padding-right: 12px;
    z-index: -1;
    height: 100%;
    padding-bottom: 240px;
    font-size: 14px;
}

.projectTitleDiv{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.projectTitle{
    display: block;
    margin-bottom: -4px;
    font-weight: bold;
}

.titleInfo{
    font-size: 9pt;
    margin-top: 0px;
    opacity: 0.6;
    vertical-align: top;
}

.logo{
    width: 28px;
    margin-right: 16px;
}

.arrow{
    width: 20px;
    opacity: 0.7;
    margin-right: 16px;
}

.currentSection{
    padding: 12px;
    font-weight: bold;
}

.link{
    padding: 10px 12px;
    border-radius: 3px;
}

.currentlySelected{
    padding: 10px 12px;
    border-radius: 3px;
    background-color: rgb(232, 233, 235);
    color: #0352CC;
}

.link:hover {
    background-color: rgb(232, 233, 235);
    cursor: pointer;
}

.collapseButtonDiv{
    position: relative;
}

.collapseButton{
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    top: -600px;
    left: 95%;
    visibility: hidden;
    opacity: 1;
    box-shadow: 0px 0px 1px black;
}

.sidebar:hover .collapseButton{
    visibility: visible;
}

.collapseButton:hover{
    cursor: pointer;
}
